<component name="ProjectRunConfigurationManager">
    <configuration default="false" name="Spring React DEV [make sure include-webapp=false]"
                   type="CompoundRunConfigurationType">
        <toRun name="ERosterApplication" type="SpringBootApplicationConfigurationType"/>
        <toRun name="start" type="js.build_tools.npm"/>
        <method v="2"/>
    </configuration>
</component>